/* Style de base pour le Label */
.forgot-password-label {
    -fx-text-fill: #a3a3a3; /* Couleur du texte par défaut */
}

/* Style au survol */
.forgot-password-label:hover {
    -fx-text-fill:  #1e90ff; /* Couleur du texte au survol */
    -fx-underline: true;
}
.loginButton{
    -fx-background-color:  #1e90ff;
    -fx-text-fill: #FFF;
    -fx-background-radius: 10px;
}
.loginButton:hover{
    -fx-background-color:  transparent;
    -fx-background-radius: 10px;
    -fx-text-fill:#1e90ff ;
    -fx-border-color: #1e90ff;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 10px;

}
.inscription {
    -fx-text-fill: #a3a3a3; /* Couleur du texte par défaut */
}
.inscription:hover {
    -fx-text-fill:  #1e90ff; /* Couleur du texte au survol */
    -fx-underline: true;
}
/* Styles de base du bouton */
.GestionUser {
   -fx-background-color: #696969;
}

/* Effet au survol */
.GestionUser:hover {
    -fx-background-color: #8c8c8c;
}

.Editer{
    -fx-background-color: #74b0ef;
    -fx-border-radius: 30;
}
.text_Profile{
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-width:0 0 1 0 ;
    -fx-border-color:  #1e90ff;
}


